<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.knowledgegraph.mapper.BomMapper">
    <select id="findBomByCode" resultType="com.panda.knowledgegraph.entity.Bom">
        select *
        from bom
        where code = #{code}
    </select>
    <select id="getAllBom" resultType="com.panda.knowledgegraph.entity.Bom">
        select *
        from bom
        where type = #{type}
    </select>
</mapper>