<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.knowledgegraph.mapper.RecommendMapper">

    <select id="getByRecommendName" resultType="com.panda.knowledgegraph.entity.Recommend">
        select *
        from recommend
        where recommend_name = #{recommendName}
    </select>
</mapper>